body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

h1{
margin-top:20px;
}

.stats{
display:flex;
justify-content:center;
gap:40px;
font-size:18px;
margin:15px;
}

.game-board{
width:420px;
margin:30px auto;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

.card{
width:90px;
height:90px;
background:#2c3e50;
color:white;
font-size:35px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
border-radius:8px;
transition:0.3s;
}

.card.flipped{
background:#3498db;
}

button{
padding:10px 20px;
font-size:16px;
cursor:pointer;
border:none;
background:#3498db;
color:white;
border-radius:6px;
}